body{
    background: url(background.gif) repeat;
}
.table{
    width: 500px;
    margin: auto;
}
.table #id{
    width: 400px;
    padding:4px 7px;
    margin:0 0 15px 0;
}
.table tr td{
    padding: 10px;
    text-align: center;
}
.table tr td input[type='text']{
    padding: 7px 12px;
    border: 2px solid #7f7c7c;
    color: #7f7c7c;
    width: 100%;
    background: #FFF;
}
.table tr td.btn{
    text-align: left;
}
.table tr td input[type='button']{
    padding: 10px 15px;
    border: 2px solid #7f7c7c;
    color: #FFF;
    background-color: #7f7c7c;
    cursor: pointer;
    float: left;
}
.error{
    padding: 10px 15px;
    border: none;
    background-color: #e1c4c4;
    color: red;
    font-family: sans-serif;
    display: inline;
    float: right;
}