<style>
*{
	border: none;
	padding: 0;
	margin: 0;
}
</style>

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/lib.js"></script>
<script type="text/javascript" src="js/youtubelink.js"></script>

<iframe id="iframe" width="100%" height="100%" src="" frameborder="0" allowfullscreen></iframe>
